/* GLOBAL CONFIG */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=VT323&display=swap");

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

:root {
    --color-violet: #220f37;
    --color-orange: #f64a00;
    --color-white: #ffffff;
    --color-black: #000;
}

/* NAV BAR*/
header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding: 0 10px;
    font-family: "VT323", sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav > p:first-child {
    margin-right: auto;
}

nav > p:last-child {
    margin-left: auto;
}

/* MAIN & ADMIN GRID*/
main {
    width: 100%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
}

main > div {
    max-width: 1200px;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    background-color: #f0f0f0;
    margin: 0 auto;
    border: 1px solid black;
}

.user-admin > span,
#config-titles > span {
    box-sizing: border-box;
    padding: 8px;
}

#config-titles,
.user-admin {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    min-width: 600px;
}

#config-titles {
    background-color: var(--color-orange);
    color: var(--color-white);
    text-align: center;

    border-bottom: 1px solid black;
}

.user-admin {
    border-bottom: 1px solid black;
}

.user-admin:last-child {
    border-bottom: none;
}

#config-titles span {
    border-right: 1px solid black;
}
#config-titles span:last-child {
    border-right: none;
}

.user-admin span {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
}

.user-admin span:last-child {
    border-right: none;
}

span > button {
    width: 100%;
    height: 100%;
    padding: 7px;
    border: none;
}

.update-btn {
    background-color: rgb(0, 2, 94);
    color: var(--color-white);
}

.update-btn:hover {
    background-color: rgb(0, 3, 202);
}

.remove-btn {
    background-color: rgb(184, 0, 0);
    color: var(--color-white);
}
.remove-btn:hover {
    background-color: rgb(230, 0, 0);
}

.user-admin:is(:focus, :active, :hover) {
    background-color: rgb(209, 209, 209);
}

@media (max-width: 900px) {
    main {
        font-size: 0.65rem;
    }
    main > div > div span {
        padding: 6px;
    }
    span > button {
        font-size: 0.65rem;
    }
}

@media (max-width: 400px) {
    nav > p {
        font-size: 0.85rem;
    }
}
