/* GLOBAL CONFIG */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pixeloid";
    src: url("../fonts/pixeloid.sans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-violet: #220f37;
    --color-orange: #f64a00;
    --color-white: #ffffff;
    --color-black: #000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--color-violet);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "Pixeloid", sans-serif;
    color: var(--color-white);
    text-align: center;
}

h2 {
    margin: 0 0 20px 0;
}

h3 {
    color: var(--color-orange);
    text-align: center;
}

p,
a,
label,
input,
ul {
    font-family: "VT323", monospace;
    color: var(--color-white);
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

img {
    width: 100px;
}

ul {
    list-style: none;
}

form,
button {
    background-color: var(--color-orange);
    color: var(--color-white);
}

section {
    margin-top: 60px;
    scroll-margin-top: 100px;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
}

main > div {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px 20px 20px;
}

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;

    z-index: 100;
}

nav > div {
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

nav.scrolled {
    position: fixed;
    background: var(--color-violet);
    border-bottom: 2px solid var(--color-orange);
    opacity: 1;
    transform: translateY(-100px);
    animation: nav-bg 600ms forwards;
    z-index: 100;
}

@keyframes nav-bg {
    100% {
        transform: translateY(0);
    }
}

nav > div > img {
    width: 120px;
    height: auto;
}

nav > div > div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 1.8rem;

    display: flex;
    gap: 15px;
}

nav > div > div > a {
    margin-top: auto;
    margin-bottom: auto;
}

nav > div > div > select {
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    font-family: "VT323";
    font-size: 1.3rem;
}

/* HERO */
#inicio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
}

#inicio::after {
    position: absolute;
    content: "";
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--color-violet)
    );
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    z-index: 1;
}

#inicio > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;

    justify-content: start;
    text-align: start;
    align-content: center;
    margin: auto 0 auto 0;
}

#inicio > div > h1 {
    font-size: 3rem;
    text-align: start;
    margin-bottom: 40px;
}

#play-now-btn {
    cursor: pointer;
    padding: 15px 80px;
    font-size: 1.5rem;
    border: 5px solid black;
    font-family: "Pixeloid", sans-serif;

    position: relative;
    z-index: 99;
}

#inicio > div > a,
#play-now-btn:hover {
    background: #c53b00;
}

#inicio img,
#inicio > div > a,
#play-now-btn {
    margin-left: auto;
    margin-right: auto;
}

#inicio img {
    width: 200px;
    height: auto;
}

/* STORY SECTION */
#historia > div {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin: 50px 0;
    width: auto;
}

#historia > p {
    margin-bottom: 25px;
}

.gema {
    height: 100%;
    max-height: 100px;
    width: auto;
}

/* LEVELS SECTION*/
#niveles {
    display: flex;
    flex-direction: column;
}

#niveles > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
}

#niveles > div > div:last-child {
    margin-bottom: 0;
}

.levels-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.levels-container::before {
    content: "";
    position: absolute;
    top: 50px;
    bottom: 100px;
    left: 50%;
    width: 2px;
    border-left: 2px dashed rgb(185, 185, 185);
    z-index: 0;
}

#niveles > div > div > img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto 0 auto;
    z-index: 1;
}

#niveles > div > div:nth-child(2) > img,
#niveles > div > div:nth-child(1) > img {
    width: 75%;
    max-width: 800px;
    height: auto;
}

#niveles > div > div > img:last-child {
    margin: 0 auto 0 auto;
}

#niveles > div > div > h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    z-index: 1;
}

/* RANKING SECTION */
#ranking {
    text-align: center;
}

#ranking img {
    width: 100%;
    max-width: 800px;
}

/* TEAM SECTION */
#equipo {
    display: flex;
    flex-direction: column;
}

#equipo > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: fit-content;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}

.card-team {
    background-color: var(--color-black);

    max-width: fit-content;
    padding: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-team img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.card-team > p:nth-child(2) {
    font-family: "Pixeloid", sans-serif;
    font-size: 1rem;
}

/* CONTACT FORM */
#contacto > form {
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#contacto > form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;

    margin: 0 auto;
}

label {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

input,
textarea {
    padding: 5px;
    margin: 0 0 20px 0;
    color: var(--color-black);
    font-family: "VT323", sans-serif;
    border: 3px solid transparent;
    outline: none;
}

textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    resize: none;
    font-size: 1.3rem;
}

input:is(:hover, :focus, :active),
textarea:is(:hover, :focus, :active) {
    border: 3px solid var(--color-black);
}

select:is(:hover, :focus, :active) {
    outline: 2px solid black;
}

#submit-contact {
    font-family: "VT323";
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px 20px;
    max-width: 200px;
    width: 100%;
    margin: 0 0 0 auto;
    background-color: var(--color-black);
    border: none;
}

#submit-contact:is(:hover, :focus, :active) {
    background: #2b2b2b;
}

/* FOOTER */
footer {
    margin-top: 80px;
    width: 100%;
    text-align: center;
    background: var(--color-black);
}

footer > div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    gap: 60px;
}

footer > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 20px;
}

footer img {
    scale: 1;
}

footer > div > div > ul {
    display: flex;
    gap: 20px;
    margin: auto 0 auto 0;
}

@media (max-width: 900px) {
    nav > div img {
        width: 90px;
        height: auto;
    }

    nav > div > div a,
    nav > div > div select {
        font-size: 1.2rem;
    }

    #inicio > div > h1 {
        font-size: 2.2rem;
    }

    #inicio > div img {
        width: 150px;
        height: auto;
    }

    #inicio > div button {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    nav > div img {
        width: 65px;
        height: auto;
    }

    nav > div > div a,
    nav > div > div select {
        font-size: 1rem;
    }

    #inicio {
        height: 100%;
        max-height: 90%;
    }

    #inicio > div > h1 {
        font-size: 1.8rem;
    }

    #inicio > div img {
        width: 100px;
        height: auto;
    }

    #inicio > div button {
        font-size: 1rem;
    }

    #equipo > div {
        grid-template-columns: 1fr;
    }

    .gema {
        height: 100%;
        max-height: 60px;
        width: auto;
    }

    #niveles > div > div h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    nav > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav img {
        margin: 0 auto;
        height: 100px;
        width: auto;
    }

    #play-now-btn {
        padding: 15px 60px;
    }

    footer p {
        font-size: 1rem;
    }

    label,
    input,
    #submit-contact {
        font-size: 1.1rem;
    }

    #submit-contact {
        max-width: 130px;
    }

    footer > div > div img {
        width: 70px;
    }

    li > a {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    nav > div > div {
        gap: 8px;
    }

    nav > div > div a,
    nav > div > div select {
        font-size: 0.8rem;
    }

    #inicio {
        max-height: 75%;
    }

    #inicio > div h1 {
        font-size: 1.5rem;
    }

    #inicio > div > button {
        font-size: 0.8rem;
        max-width: 250px;
    }

    h2 {
        font-size: 1.2rem;
    }

    #niveles > div > div > h3 {
        font-size: 1rem;
    }

    footer > div > div ul {
        flex-wrap: wrap;
        gap: 10px;
    }
}
