@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    --color-violet: #220f37;
    --color-orange: #f64a00;
    --color-white: #ffffff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VT323", sans-serif;
}

#game-container img {
    width: 80px;
}

button {
    color: var(--color-white);
}

/* GAME CONTAINER */
#game-container {
    width: 100%;
    min-height: calc(100vh - 75px);
    background: url("../Images/level_4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#overlay {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 75px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* INTRUCTIONS */
#instructions-container {
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    background-color: #716f6f;
    border-radius: 10px;
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    max-width: 1000px;
}

#instructions-container > div:first-child {
    box-sizing: border-box;
    padding: 10px 10px 0 0;
}

#instructions-container > div:first-child > img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#instructions-container > div:nth-child(2) {
    box-sizing: border-box;
    padding: 40px 0 40px 0;
}

#instructions-container > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#instructions-container > div:last-child > img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
}

#instructions-container > div:last-child > span {
    display: flex;
    gap: 20px;
}

#instructions-container > div:last-child > span > button {
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#instructions-container > div:last-child > span >  a {
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#instructions-container > div:last-child > span > button:first-child {
    background-color: var(--color-orange);
}
#instructions-container > div:last-child > span > a:last-child {
    background-color: #f91202;
}

/*  */
