@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    --color-violet: #220f37;
    --color-orange: #f64a00;
    --color-white: #ffffff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "VT323", sans-serif;
}

p {
    margin-bottom: 0 !important;
}

button {
    color: var(--color-white);
}

/* GAME CONTAINER */
#game-container {
    width: 100%;
    min-height: calc(100vh - 75px);
    background: url("../Images/level_4__.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: auto;
}

#overlay {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 75px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* INSTRUCTIONS */
#instructions-container {
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    background-color: #716f6f;
    border-radius: 10px;
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    max-width: 1000px;
    height: auto;
}

#instructions-container > div:first-child {
    box-sizing: border-box;
    padding: 10px 10px 0 0;
}

#instructions-container > div:first-child > img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#instructions-container > div:nth-child(2) {
    box-sizing: border-box;
    padding: 40px 0 40px 0;
}

#instructions-container > div:nth-child(2) > ul {
    position: relative;
}

#error-example {
    position: absolute;
    width: auto;
    height: 60px;
    top: -40px;
    right: -30px;
}

#instructions-h3 {
    margin-top: 1.5rem;
}

hr {
    margin: 0.5rem 0 !important;
}

#instructions-container > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#instructions-container > div:last-child > img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid black;
}

#instructions-container > div:last-child > span {
    display: flex;
    gap: 20px;
}

#instructions-container > div:last-child > span > button {
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#instructions-container > div:last-child > span > a {
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
}

#instructions-container > div:last-child > span > button:first-child {
    background-color: var(--color-orange);
}
#instructions-container > div:last-child > span > a:last-child {
    background-color: #f91202;
}

/* GAME OVER CONTAINER */
#game-over-container {
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    background-color: #716f6f;
    border-radius: 10px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 30px;
}

#game-over-container > img {
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
}

#game-over-container > span {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 1rem;
}

#game-over-container > span > button,
#game-over-container > span > a {
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#game-over-container > span > button:first-child {
    background-color: var(--color-orange);
}
#game-over-container > span > a:last-child {
    background-color: #f91202;
}

/* GAME WIN CONTAINER*/
#game-win-container {
    box-sizing: border-box;
    padding: 20px;
    background-color: #716f6f00;

    display: flex;
    max-width: 1000px;
    gap: 20px;
    align-items: center;
}

#game-win-container > img {
    width: 70%;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
    border: 2px solid black;
}

#game-win-container > div {
    box-sizing: border-box;
    background-color: #716f6f;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    min-width: 50px;
    width: 100%;
    height: max-content;
    margin: auto 0;
    font-size: 1.2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-win-container > div > button {
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--color-orange);
}

#game-win-container > div > p {
    margin-bottom: 10px;
}
#game-win-container > div > p:nth-child(2) {
    width: 100%;
    border-bottom: 0.5px solid rgb(206, 206, 206);
}

/* LEVEL CONTAINER */
#level-container {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    padding: 20px 80px 80px 80px;
}

#level-container > span {
    display: flex;
    gap: 20px;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#hp-container {
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: #716f6f;
    border: 4px solid black;
    margin: 0 auto;
    min-width: 290px;
    width: auto;
    min-height: 50px;
}

#hp-container > img {
    width: 45px;
    height: auto;
}

#points-container {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #716f6f;
    border: 4px solid black;
    margin: 0 auto;
    min-width: 265px;
    width: auto;
    min-height: 50px;
}

#points-text {
    color: black;
    font-size: 1.8rem;
    font-family: "VT323";
}

#time-container {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #716f6f;
    border: 4px solid black;
    margin: 0 auto;
    min-width: 265px;
    width: auto;
    min-height: 50px;
}

#time-text {
    color: black;
    font-size: 1.8rem;
    font-family: "VT323";
}

#level-container > div {
    width: 100%;
    margin: auto auto 0 auto;
    max-width: 1500px;

    display: flex;
}

#zero-fighting {
    height: 200px;
    width: max-content;
    margin-top: auto;
}

#level-container > div > div {
    margin-right: auto;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#level-container > div > div:nth-child(2) > p {
    padding: 7px 12px;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    color: rgb(32, 32, 32);
    border: 3px solid rgb(32, 32, 32);
    font-size: 1.2rem;
    cursor: grabbing;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

#kaos-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: none;

    display: flex;
    flex-direction: column;
    justify-content: end;

    > p {
        max-width: 250px;
        font-family: "VT323", sans-serif;
        font-size: 2rem;
        border-radius: 4px solid var(--color-black);
        width: 100%;
        margin-left: auto;
        cursor: none;

        background-color: var(--color-violet);
        border: 4px solid black;
        text-align: center;
    }
}

#kaos-fighting {
    height: 400px;
    width: max-content;
    margin-left: auto;
}

/* SPAWN ERROR ANIMATION */
@keyframes errorSpawn {
    0% {
        transform: scale(1.2) rotate(180deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

@keyframes errorFloat {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* ERRORS */
.error-container {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    z-index: 100;

    width: max-content;
    height: max-content;
    animation: errorSpawn 400ms;
}

.error-enemy {
    width: max-content;
    height: 100px;
    background: url("../Images/error_character.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    display: flex;
    align-items: end;
    justify-content: center;

    transition: all 400ms;

    animation: errorFloat 2000ms linear infinite;
}

.error-enemy:hover {
    transform: scale(1.1);
}

.error-content {
    width: max-content;
    height: auto;
    max-height: 200px;
    padding: 5px;
}

.error-problem {
    max-width: 200px;
    width: max-content;
    font-size: 0.8rem;
    padding: 5px;
    margin-top: auto;
    background-color: gray;
    border: 3px solid rgb(32, 32, 32);
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

/* GAME COMPLETED CONTAINER */
#game-complete-container {
    width: 100%;
    height: calc(100vh - 75px);
    background: url("../Images/pueblo_digito_bg.png");
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: end;
}

#game-complete-container > div {
    width: 100%;
    max-width: 700px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #716f6f;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}

#game-complete-container > div > a {
    padding: 5px 50px;
    background-color: #f91202;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
    text-decoration: none;
}
