
.imagenfondo { 
    background-color: #202020; /* Color de fondo sólido */
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
    margin: 0; 
}
/* Pseudo-elemento para la Imagen de Fondo con Opacidad */
.imagenfondo::before {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantiene la imagen detrás del contenido */
    background-image: url('../images/mapa_pixel.png'); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    

    opacity: 0.6; 
}

.login-box {
    width: 650px; 
    padding: 10%; /* Ajuste del padding */
    border-radius: 8px;
    text-align: center;
    position: relative; 
    
    background-color: rgba(0, 0, 0, 0.75); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

   
}

.acceso-mundo {
    color: #7324F1; 
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'VT323'; 
    letter-spacing: 2px;
    margin-bottom: 20px; 
}

.logo-area {
    display: flex;
    justify-content: center;
    
}

.zero-logo {
    width: 100px; 
    height: 100px;
    
}
.boton {
    background-color: #7324F1;
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'VT323'; 
}
.register-text {

    color: #7324F1; 
    text-decoration: none;
    font-weight: bold;
    font-family: 'VT323',;
}
.register-link {
    color: #ffffff; 
    font-size: 0.85rem;
      font-family: 'VT323';
}