/* GLOBAL CONFIG */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=VT323&display=swap");

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", sans-serif;
}

img {
    width: 100px;
}

:root {
    --color-violet: #220f37;
    --color-orange: #e64500;
    --color-white: #ffffff;
    --color-black: #000;
}

form {
    font-family: "Lato", sans-serif;
}

/* NAV BAR*/
header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding: 0 10px;
    font-family: "VT323", sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav > p:first-child {
    margin-right: auto;
    width: 50%;
}

nav > p:last-child {
    margin-left: auto;
}

/* BODY */
main {
    width: 100%;
    height: auto;
    padding: 0 5px;
}

#stats-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px auto 40px auto;
}

.game-container {
    border: 1px solid black;

    width: 100%;
    margin: 0 auto;

    background-color: var(--color-violet);
    color: white;
}

h2 {
    padding: 15px;
    font-weight: lighter;
}

.matches-container {
    padding: 15px;
    border: 1px solid black;
    background-color: #350e5e;
    max-width: 1200px;
    overflow-x: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.match-card {
    font-size: 1.2rem;
    max-width: 200px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;

    background-color: var(--color-orange);
}

.match-card:hover {
    scale: 1.01;
}

/* OVERLAY FORM */
#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #00000094;

    display: none;
    justify-content: center;
    align-items: center;
}

#update-stats {
    font-size: 1.2rem;

    max-width: 400px;
    width: 100%;

    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: start;

    background-color: var(--color-orange);
    padding: 20px;

    border: 5px solid black;

    position: relative;
}

svg {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}

input {
    max-width: 400px;
    padding: 7px;
    margin: 7px 0 20px 0;
    font-size: 1.2rem;
}

#id-user,
#id-score,
#id-game {
    background-color: rgb(180, 180, 180);
    cursor: not-allowed;
}

#update-stats > span {
    display: flex;
    justify-content: space-between;
}

#update-stats > span > button {
    padding: 5px 15px;
    cursor: pointer;
}

#update-stats > span > button:first-child {
    color: white;
    background-color: rgb(231, 54, 54);
    border: 2px solid black;
}

#update-stats > span > button:last-child {
    color: white;
    background-color: var(--color-violet);
    border: 2px solid black;
}
